---
import { Image } from "astro:assets";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

// Import images
import youtube from "../../assets/youtube.svg";
import novpn from "../../assets/no-vpn.svg";
import free from "../../assets/free.svg";
import mixed from "../../assets/mixed.svg";

const title= 'ماهي خدمة وقاية؟'
const intro = 'تعتمد خدمة «وقاية» على نظام أسماء النطاقات (DNS) للحد من الوصول إلى المواقع غير الملائمة للأسرة. فعند محاولة المستخدم زيارة أحد المواقع، تقوم الخدمة بالتحقق مما إذا كان محتواه مصنَّفًا ضمن الفئات غير المناسبة، وتعمل على منع الوصول له عند الضرورة. وبهذه الآلية، تسهم «وقاية» في تعزيز بيئة إنترنت تتوافق مع قيم المجتمع والأسرة السعودية، دون التأثير على الاستخدام الطبيعي والآمن للإنترنت.'
const features = [
  {
    icon: youtube,
    alt: "Youtube",
    title: "الوضع المقيد في اليوتيوب",
    description:
      "تعمل خدمة وقاية على فرض الوضع المقيّد في منصة اليوتيوب بشكل تلقائي، مما يساعد في ترشيح المحتوى غير المناسب وتوفّر تجربة مشاهدة ملائمة لجميع أفراد الأسرة.",
  },
  {
    icon: mixed,
    alt: "Mixed",
    title: "ترشيح الخدمات ذات المحتوى المختلط",
    description:
      "تقوم خدمة وقاية بترشيح الخدمات التي تحتوي على محتوى مختلط أو غير ملائم، مما يساهم في توفير بيئة تصفّح أكثر أمانًا واتساقًا مع القيم الأسرية.",
  },
  {
    icon: novpn,
    alt: "No VPN",
    title: "ترشيح أدوات تجاوز الحجب (VPN)",
    description:
      "تمنع خدمة وقاية استخدام أدوات تجاوز الحجب مثل الشبكات الافتراضية (VPN)، مما يضمن بقاء نظام الحماية العائلية فعّالًا وعدم التحايل عليه من خلال وسائل خارجية.",
  },
  {
    icon: free,
    alt: "Free",
    title: "مجاني ومتاح للجميع",
    description:
      "تهدف الخدمة إلى تمكين استخدام الإنترنت بشكل آمن وسهل للجميع.",
  },
];
---

<Section id="about" class="bg-zinc-100">
  <div class="mb-5">
    <SectionTitle sectionTitle={title} />

    <p class="text-xl">
      {intro}
    </p>

    <div class="grid lg:grid-cols-4 gap-8 pt-8">
      {features.map(({ icon, alt, title, description }) => (
        <div class="grid gap-2 justify-items-center text-center border rounded-md px-4 py-6 bg-white">
          <picture>
            <Image src={icon} alt={alt} class="size-12 rounded-full bg-white p-2" />
          </picture>
          <h2 class="text-2xl font-medium">{title}</h2>
          <span>{description}</span>
        </div>
      ))}
    </div>
  </div>
</Section>
