---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import CopyButton from '../ui/Copy.astro';

const description =
  "اختر الطريقة المناسبة لبدء استخدام خدمة «وقاية» لتصفّحٍ آمنٍ ومناسبٍ لجميع أفراد الأسرة.";
---

<Section id="services" >
  <div class="mb-5">
    <SectionTitle sectionTitle="نقاط الوصول للخدمة" description={description} />
    
    <div class="grid gap-10">
      <div class="grid lg:grid-cols-2 lg:grid-rows-2 gap-6" dir="ltr">
        <div class="flex gap-4 border p-4 rounded-md shadow-md bg-zinc-50 hover:bg-white">
          <div class="text-xl font-bold w-24">IPv4</div>
          <div class="grid gap-2"><CopyButton text="x.x.x.x" /><CopyButton text="x.x.x.x" /></div>
        </div>
        <div class="flex gap-4 border p-4 rounded-md shadow-md bg-zinc-50 hover:bg-white">
          <div class="text-xl font-bold w-24">IPv6</div>
          <div class="grid gap-2"><CopyButton text="x.x.x.x" /><CopyButton text="x.x.x.x" /></div>
        </div>
        <div class="flex gap-4 border p-4 rounded-md shadow-md bg-zinc-50 hover:bg-white">
          <div class="text-xl font-bold w-24">DoH</div>
          <div class="grid gap-2"><CopyButton text="x.x.x.x" /><CopyButton text="x.x.x.x" /></div>
        </div>
        <div class="flex gap-4 border p-4 rounded-md shadow-md bg-zinc-50 hover:bg-white">
          <div class="text-xl font-bold w-24">DoT</div>
          <div class="grid gap-2"><CopyButton text="x.x.x.x" /><CopyButton text="x.x.x.x" /></div>
        </div>
        {
          /*
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      */
        }
      </div>
      <div class="text-center">
        <button
          type="submit"
          name="submit"
          class="btn-primary w-72 text-xl font-medium">تفعيل الخدمة</button
        >
      </div>
    </div>
  </div>
</Section>
